<style >
.newcontainer{
	text-align: center;
}
.new{

margin-top: 50px;
margin-left: 50px;
padding-left: 50px;
vertical-align: top;
text-align: center;
width: 300px;
padding-top: 6px;
display: inline-block;
margin-right: 6px;
background: rgba(255, 255, 255, 0.42);
padding: 25px;
padding-right: 70px;
}
</style>
<div class="newcontainer">
<div class='new'>
<h1>Edit an Article </h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>

<% link_to 'Show' , article_path %>

</div>
</div>