<% if user_signed_in? %>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel"  data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="http://imagesci.com/img/2013/12/abstract-light-2681-hd-wallpapers.jpg">
        </div>
    <div class="item"><img src="http://wallpapergrab.com/wp-content/uploads/2013/12/abstract-light-wallpapers-for-pc.jpg"></div>
    <div class="item">  <img src="http://www.desktopwallpaperhd.com/wallpapers/28/29062.jpg"></div>
        <div class="item">  <img src="http://files.customize.org/thumbnails/larger/61441.jpg"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<a id="tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">Tooltip on top</a>
<a href="#id" data-toggle="tooltip" data-placement="left" title="first tooltip">hover over me</a>
<input type="text" data-provide="typeahead">
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
<button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>
<a href="#" id="pop" role="button" class="btn12" data-toggle="popover" title="qwerty">Launch </a>
 <a class="close" data-dismiss="alert" href="#myModal">qwertydesperate</a>

 <div class="btn-group" data-toggle="buttons-checkbox">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>

    <div id="collapseOne" class="accordion-body collapse in">

      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>

    </div>
  </div>
</div>


<!-- Modal -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Looks something gr8</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
<%end%>